# --- IMAGE PROCESSING & COMPUTER VISION ---
# Used for loading, resizing, and grayscale conversion of the primitive shapes.
opencv-python
matplotlib

# --- ARTIFICIAL INTELLIGENCE & NUMERICAL COMPUTING ---
# K-Means clustering for visual simplification and matrix operations.
scikit-learn
numpy

# --- AUDIO SYNTHESIS & SIGNAL PROCESSING ---
# Used for wave generation and exporting the final sonified output to .wav.
scipy

# --- GUI & REAL-TIME AUDIO ---
# modern UI framework based on tkinter
customtkinter
# image manipulation for the gui
Pillow
# real-time audio playback (crucial for wasd mode)
sounddevice